/* Add Font CDN Here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
}
/* body {
  background: linear-gradient(
    264.23deg,
    #b6ebf5 2.94%,
    rgb(242, 52, 137) 158.52%
  );
  backdrop-filter: blur(25px);
} */
.bg-main {
  background: linear-gradient(
    264.23deg,
    #b6ebf5 2.94%,
    rgb(242, 52, 137) 158.52%
  );
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */
}
.bg-service-box {
  background: radial-gradient(
      100% 100% at 0% 9.33%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.18) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.hide-number-buttons::-webkit-inner-spin-button,
.hide-number-buttons::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-buttons {
  -moz-appearance: textfield;
}
/* Make Scroll Bar Hidden */
.hide-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scroll::-webkit-scrollbar {
  width: 0;
  display: none;
}

@keyframes scaleInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes jumpAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-30px);
  }
}
@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-15px); }
  50%  { transform: translateY(-30px); }
  75%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
@keyframes rippleAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
  }
}
.engt .engt-launch-icon-box .engt-launcher-icon{
  /* animation: bounce-2 2s 30s infinite both !important; */
  border-radius: 50%;
  animation-name: rippleAnimation !important;
  animation-duration: 1.5s !important;
  animation-iteration-count: 5 !important;
  /* animation-iteration-count: infinite !important; */
      /* animation-timing-function: linear !important; */
  /* animation-delay: 1s !important; */
  scale: 1.5;
}


.mobileCase::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  border-radius: 0px 0px 10px 10px;
  height: 15px;
  background-color: black;
  z-index: 100;
}
.servCard {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}
.servicePageNav {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  width: 100%;
  border-radius: 25px;
}
.servFooter {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 0px 0px 25px 25px;
}
.serviceCard {
  background: radial-gradient(
      100% 100% at 0% 9.33%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.18) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.serviceCard:hover {
  background: linear-gradient(0deg, #aa00a6, #aa00a6),
    radial-gradient(
        100% 100% at 0% 9.33%,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0.18) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #fff !important;
}
.serviceMobileSecGleass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 30px;
}
.benifitSectionCardGlass {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
.appServiceSecLeftCard {
  border-radius: 30px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(120deg, #ffffff, #ffffff, #ffffff00);
  border-image-slice: 1;
}
.testimonialGlass {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.3);
  opacity: 0.8;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/* about section start */

.aboutGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.867);
  border-radius: 30px;
}
.aboutOurTeamGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid #dfdada;
  border-radius: 0px 30px 30px 0px;
}
.aboutHeroGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid rgba(255, 255, 255, 0.867);
  border-radius: 30px;
}
/* about section end */

.palnGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid #dfdada;
  border-radius: 30px;
}

.planCardHead {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}
.newMorfPurple {
  background: #990195;
  box-shadow: -6px -7px 7px rgba(231, 24, 224, 0.25), -2px -2px 2px #aa00a6,
    1px 1px 2px rgba(0, 0, 0, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -4px -4px 16px rgba(121, 2, 118, 0.5),
    inset 4px 3px 16px rgba(189, 0, 183, 0.25);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.newMorfPurple:hover {
  background: hsl(302, 99%, 35%);
  box-shadow: 2px 3px 3px rgba(231, 24, 224, 0.25), -2px -2px 2px #aa00a6,
    1px 1px 2px rgba(0, 0, 0, 0.25), 5px 5px 7px rgba(0, 0, 0, 0.25),
    inset -4px -4px 16px rgba(121, 2, 118, 0.5),
    inset 4px 3px 16px rgba(189, 0, 183, 0.25);
}
.heroGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.291) 0%,
      rgba(255, 255, 255, 0.157) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border: 1px solid #dfdada;
  border-radius: 30px;
}
.heroFormGlassDiv {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(15px); */
  /* Note: backdrop-filter has minimal browser support */
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-radius: 20px;
  outline: none;
}

.formGlassInput {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.25);
  /* backdrop-filter: blur(15px); */
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  border: none !important;
}
.formGlassInput::placeholder {
  color: black;
}
/* form input focus */
.formGlassInput:focus {
  /* outline: auto 2px Highlight; */
  /* outline: red 1px auto; */
  /* border: #990195 1px solid !important; */
}
/* blog */
.blogPostCardGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */
}
.jobCardGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.partnerMarketPotential {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-top: 1px solid #fff;
}
.partnerAfterSaleSupGlassCard {
  background: linear-gradient(
    118.39deg,
    rgba(255, 255, 255, 0.27) 1.28%,
    rgba(10, 9, 35, 0) 106.47%
  );

  filter: drop-shadow(30px 10px 150px rgba(215, 215, 215, 0.5));
  backdrop-filter: blur(50px);
  border-radius: 30px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.appServiceSecLeftCard {
  border-radius: 30px;
  border: 2px solid transparent;
  border-image-source: linear-gradient(120deg, #ffffff, #ffffff, #ffffff00);
  border-image-slice: 1;
}

.newMorf {
  padding: 5px 20px;
  left: 1189px;
  top: 78px;
  font-weight: 700;
  background: #dfdada;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.75),
    -2px -2px 8px rgba(255, 255, 255, 0.75),
    8px 8px 12px rgba(127, 127, 127, 0.25),
    4px 4px 4px rgba(127, 127, 127, 0.75);
  border-radius: 10px;
}
/* nav link pc version active */
.nav-pc {
  transition: all 0.3s ease-in-out;
}
.nav-pc.active {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #690466;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}
.nav-pc:hover {
  color: #690466 !important;
  scale: 1.05;
  translate: 0 -2px;
}

.nav-pc.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  border-radius: 10px;
  height: 3px;
  background-color: #690466;
  bottom: -9px;
}

.nav-mob.active {
  background-color: #84e8fa;
  color: #000;
  border-radius: 0.5rem;
}
.loginGlass {
  background: linear-gradient(
      155.31deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 74.7%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px;
}
/* hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
